Esports-Event-Notifiyer/.vscode/settings.json
Esports-Event-Notifiyer/.vscode/tasks.json
Esports-Event-Notifiyer/.vscode/launch.json
Esports-Event-Notifiyer/.vscode/c_cpp_properties.json
token.txt
*.exe
Korean-English-Esports-Glossary/한국어 English gaming terms.docx
Korean-English-Esports-Glossary/.vscode/tasks.json
/Korean-English-Esports-Glossary/build/CMakeFiles
/Korean-English-Esports-Glossary/build/.cmake
*.json
/Korean-English-Esports-Glossary/build
